body {
    font-family: Arial;
    background: #6f8cc9;
    color: white;
}

.task-card {
    background: rgba(255,255,255,0.2);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}